html {
  background-color: orange;
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  max-height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  margin-top: 30px;
}

.clock {
  width: 20rem;
  height: 20rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  /* border: 5px solid red; */
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate(
    -4px,
    -3px
  ); /*account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%; /*to set the axis*/
  transform: rotate(90deg);
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.handNoTransition {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%; /*to set the axis*/
  transform: rotate(90deg);
}

.clock-center {
  width: 5%;
  height: 5%;
  border-radius: 50%;
  background: purple;
  transform: translate(93px, -3px);
}

.hour-hand {
  background: darkblue;
}

.seconds-hand {
  background: darkgoldenrod;
  height: 3px;
}

.screen {
  margin-top: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: xx-large;
}

button {
  width: 90px;
  height: 60px;
  font-size: medium;
  background-color: white;
  border: 1px solid dodgerblue;
  border-radius: 6px;
  margin: 30px 15px;
  box-shadow: 2px 2px 8px black;
  outline: none;
  font-weight: bold;
}

.frame {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  border-radius: 6px;
  height: 75vh;
  width: 490px;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

#stopwatch,
#timer {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 3rem;
  font-family: "Roboto Mono", monospace;
  text-shadow: 2px 2px black;
}

.pickerFrame {
  padding: 10px 14px;
  border-radius: 4px;
  margin: 4% 0;
  align-self: center;
}

input {
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  text-align: center;
  width: 60px;
  height: 4rem;
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 600;
}

.frame2 {
  margin-top: 50px;
}
